:host {
    display: block;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

button {
    color: var(--color-text-secondary);
}

.ui-error {
    color: var(--color-error);
    font-size: 12px;
    margin-top: -12px;
    margin-bottom: var(--space-4);
}