
<mat-form-field appearance="outline">
    <mat-label>{{label}}</mat-label>
    <input matInput [placeholder]="placeholder" [type]="hidePassword()?'password' : 'text'" 
      [autocomplete]="autocomplete" [value]="value()" [disabled]="disabled"
      (input)="handleInput($event)" (blur)="handleBlur()"/>
    <button mat-icon-button matSuffix type="button" (click)="toggleVisibility()">
        <mat-icon>
            {{ hidePassword() ? 'visibility' : 'visibility_off' }}
        </mat-icon>
    </button>
</mat-form-field>

@if(showError){
    <div class="ui-error">
        {{ errorMessage }}
    </div>
}