<div class="app-dialog">
    <h2 mat-dialog-title>
        {{ isEditMode() ? 'Edit Organization' : 'New Organization' }}
    </h2>

    <mat-dialog-content>

        <form [formGroup]="form">

            <app-ui-input
                formControlName="name"
                label="Name"
                placeholder="Organization name">
            </app-ui-input>

            <app-ui-input
                formControlName="description"
                label="Description"
                placeholder="Optional description">
            </app-ui-input>
        </form>

    </mat-dialog-content>

    <mat-dialog-actions align="end">

        <button
            mat-button
            (click)="close()">

            Cancel

        </button>

        <app-ui-button
            [label]="isEditMode() ? 'Save' : 'Create'"
            [disabled]="form.invalid"
            (click)="save()">
        </app-ui-button>

    </mat-dialog-actions>
</div>