<nav class="navbar">

  <!-- MOBILE MENU -->

  <button
    type="button"
    class="mobile-menu-button"
    (click)="menuToggle.emit()"
    aria-label="Open navigation">

    <mat-icon>
      menu
    </mat-icon>

  </button>


  <!-- USER -->

  <div class="navbar__right">

    <button
      mat-button
      [matMenuTriggerFor]="userMenu"
      class="user-button">

      <mat-icon class="user-button__person">
        account_circle
      </mat-icon>

      <span class="user-button__name">
        {{ authStateService.user()?.fullName }}
      </span>

      <mat-icon class="user-button__chevron">
        expand_more
      </mat-icon>

    </button>


    <mat-menu
      #userMenu="matMenu"
      class="user-menu">

      <div class="menu-header">

        <strong>
          {{ authStateService.user()?.fullName }}
        </strong>

        <small>
          {{ authStateService.user()?.email }}
        </small>

      </div>


      <mat-divider />

      <button
        mat-menu-item
        [matMenuTriggerFor]="themeMenu"
        type="button">

        <mat-icon>
          palette
        </mat-icon>

        <span>
          Theme
        </span>

        <mat-icon class="menu-item__end-icon">
          chevron_right
        </mat-icon>

      </button>

      <mat-menu #themeMenu="matMenu" class="theme-menu">

        @for (theme of themes; track theme.name) {
          <button
            mat-menu-item
            type="button"
            (click)="setTheme(theme.name)">

            <mat-icon>
              {{ theme.icon }}
            </mat-icon>

            <span>
              {{ theme.label }}
            </span>

            @if (themeService.currentTheme() === theme.name) {
              <mat-icon class="theme-check">
                check
              </mat-icon>
            }

          </button>
        }

      </mat-menu>


      <button
        mat-menu-item
        type="button"
        (click)="router.navigate(['/organizations'])">

        <mat-icon>
          business
        </mat-icon>

        <span>
          Organizations
        </span>

      </button>


      <mat-divider />


      <button
        mat-menu-item
        type="button"
        class="menu-item--danger"
        (click)="logout()">

        <mat-icon>
          logout
        </mat-icon>

        <span>
          Logout
        </span>

      </button>

    </mat-menu>

  </div>

</nav>