html,
body {
  font-family: var(--font-family);
  font-size: var(--font-md);
  line-height: 1.5;
}

body {
  font-weight: var(--weight-regular);
}

h1 {
  font-size: var(--font-3xl);
  font-weight: var(--weight-bold);
}

h2 {
  font-size: var(--font-2xl);
  font-weight: var(--weight-semibold);
}

h3 {
  font-size: var(--font-xl);
  font-weight: var(--weight-semibold);
}

p {
  color: var(--color-text-secondary);
}